/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
main{
    width: 70%;
    padding:2em;
    border: 5px black solid;
    font-size: 2em;
}

span{
    font-weight: bold;
}

span :first-child{
    animation: words 20s ease-in-out 0s infinite;
}

span :nth-child(2){
    opacity:0;
    animation: words 20s ease-in-out 5s infinite;
}

span :last-child{
    opacity:0;
    animation: words 20s ease-in-out 17s infinite;
}


@keyframes words{
    25% {opacity:1;}
    50% {opacity:0;}
    25% {opacity:1;}
}

